<!DOCTYPE html>
<html>
<head>
<title>西红柿数据-我要赚钱</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/fullcalendar.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="css/jquery.gritter.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
{include file="common/topheader" /}

{include file="common/sidebar" /}

<div id="content">
  <div id="content-header">
  </div>
  <div class="container-fluid">
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href="makemoney"> <i class="icon-dashboard"></i> <span class="label label-important"></span> 我的控制台</a> </li>
        <li class="bg_lo span3"> <a href="task"> <i class="icon-th-list"></i> 任务中心</a> </li>
        <li class="bg_ly"> <a href="guild"> <i class="icon-inbox"></i><span class="label label-success"></span> 公会大厅 </a> </li>
        <li class="bg_lb"> <a href="study"> <i class="icon-pencil"></i>在线学习</a> </li>
        <li class="bg_ls"> <a href="user"> <i class="icon-user"></i> 个人中心</a> </li>
      </ul>
    </div>
    <hr/>
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-ok"></i></span>
            <h5>如何开始</h5>
          </div>
          <div class="widget-content">
            <div class="todo">
              <ul>
                <li class="clearfix">
                  <div class="txt"> <span class="date badge badge-warning">第一步</span> 进入任务中心 </div>
                  <div class="pull-right"> <a class="tip" href="#" title="Edit Task"></a> <a class="tip" href="#" title="Delete"></a> </div>
                </li>
                <li class="clearfix">
                  <div class="txt"><span class="date badge badge-info">第二步</span> 领取任务  </div>
                  <div class="pull-right"> <a class="tip" href="#" title="Edit Task"></a> <a class="tip" href="#" title="Delete"></a> </div>
                </li>
                <li class="clearfix">
                  <div class="txt"><span class="date badge badge-important">第三步</span>  开始您的数据标注旅程 </div>
                  <div class="pull-right"> <a class="tip" href="#" title="Edit Task"></a> <a class="tip" href="#" title="Delete"></a> </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        </div>
        
      </div>
      
    </div>
  </div>
</div>
{include file="common/footer" /}
<script src="js/excanvas.min.js"></script> 
<script src="js/jquery.min.js"></script> 
<script>
  $(function(){
    $("#home").attr('class','active');
  })
</script>
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flot.min.js"></script> 
<script src="js/jquery.flot.resize.min.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/fullcalendar.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.dashboard.js"></script> 
<script src="js/jquery.gritter.min.js"></script> 
<script src="js/matrix.interface.js"></script> 
<script src="js/matrix.chat.js"></script> 
<script src="js/jquery.validate.js"></script> 
<script src="js/matrix.form_validation.js"></script> 
<script src="js/jquery.wizard.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.popover.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.tables.js"></script> 
<script type="text/javascript">

</script>
</body>
</html>
