<div id="sidebar"><a href="makemoney" class="visible-phone">
    <i class="icon icon-home"></i> 控制台</a>
    <ul>
      <li id="home"><a href="makemoney"><i class="icon icon-home"></i> <span>控制台</span></a> </li>
      
      <li id="task_center"> <a href="task"><i class="icon icon-th-list"></i> <span>任务中心</span> </a>
      </li>
      <li id="guild"> <a href="guild"><i class="icon icon-inbox"></i> <span>公会大厅</span></a> </li>
      <li id="study"><a href="study"><i class="icon icon-pencil"></i> <span>在线学习</span></a></li>
      <li id="user"><a href="user"><i class="icon icon-user"></i> <span>个人中心</span></a></li>
  </div>