<div id="sidebar"><a href="demand" class="visible-phone"><i class="icon icon-home"></i> 控制台</a>
    <ul>
      <li id="home"><a href="admin"><i class="icon icon-home"></i> <span>控制台</span></a> </li>
      <li id="admin_guild"> <a href="admin_guild"><i class="icon icon-inbox"></i> <span>公会管理</span></a> </li>
      <li id="admin_task"> <a href="admin_task"><i class="icon icon-th-list"></i> <span>任务管理</span> </a>
      </li>
  <!--<li><a href="admin_result"><i class="icon icon-pencil"></i> <span>结果管理</span></a></li>
      <li><a href="admin_user"><i class="icon icon-user"></i> <span>用户管理</span></a></li> -->
  </div>