
      <div>
          <div  id="header">
              <div>
                  <div style="margin-left:10px;"> 
                    <img src="img/logo.png" width="80px" height="150px" alt="logo">&nbsp;&nbsp;<text style="font-size: 20px">后台管理</text></img>
                  </div>
              </div>
                </div>
              </div>



       <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
          <li  class="dropdown" id="profile-messages" ><a title="欢迎 {$admin.0.admin_name}" href="/admin"><i class="icon icon-user"></i>  <span class="text">欢迎 {$admin.0.admin_name}</span></a>
          </li>
          <li class=""><a title="首页" href="/" target="_blank"><i class="icon icon-home"></i> <span class="text">首页</span></a>
          <li class=""><a title="退出" href="admin_logout"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
        </ul>
      </div>