<html>
        <link rel="stylesheet" href="css/bootstrap.css">
    <div >
        <div style="text-align: center">
        <div id="captcha_check">
<h3>验证邮箱</h3><br />
 <span>电子邮箱：</span> <input id="email"  style="width:200px;height:30px;" maxlength="30" type="text" /> 
  <button type="button" class="btn btn-primary btn-sm" id="send_email_captcha">发送验证码</button> <br /><br />
  <div style="margin-left:-170px"> 
  <span>验证码：</span><input id="captcha" style="width:120px;height:30px;"  maxlength="10" type="text" /> <br /><br />
</div>
  <button type="button" style="margin-top: 100px"  class="btn btn-primary btn-sm" id="next">下一步</button>

 </div>

 <div id="new_password">
        <h3>创建新密码</h3><br />
       <span>密码：</span> <input id="password" style="width:200px;height:30px;"  maxlength="20" type="password" /><br /><br />
       <div  style="margin-left:-25px"> 
       <span> 重复密码：</span><input id="repassword" style="width:200px;height:30px;"  maxlength="20" type="password" />
    </div>
        <button type="button" style="margin-top: 100px"  class="btn btn-primary btn-sm" id="confirm">确定</button>
 </div>
</div>
</div>

<script src="js/jquery.min.js"></script>
<script>
$(function(){
    $("#new_password").css("display","none");
    $("#send_email_captcha").click(function(){
        var email = $("#email").val();
        if(email == "")
        {
            alert("亲亲，邮箱不能为空哦~");
            return;
        }
        var Reg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
       var email_check = Reg.test(email);
       if(!email_check)
       {
        alert("亲亲，邮箱格式不正确哦~");
        return;
       }
        $.ajax({
            url:"send_email_captcha",
            data:{
                "email":email
            },
            type:"POST",
            success:function(res) {
                if(res.code == 1)
                {
           alert(res.msg);
           $("#send_email_captcha").attr("disabled",true);
          var time = 59;
          $("#send_email_captcha").text(time + "s可以重新发送");
          var interval = setInterval(function(){
           time = time - 1;
           $("#send_email_captcha").text(time + "s可以重新发送");
           if(time == 0)
           {
            clearInterval(interval);
            $("#send_email_captcha").attr("disabled",false);
            $("#send_email_captcha").text("发送验证码");
           }  
       }, 1000);
                }
                else
                {
                    alert(res.msg);
                }
            }
        })
    })

    $("#next").click(function(){
        var email = $("#email").val();
        var captcha = $("#captcha").val();
      
        if(email == "")
        {
            alert("亲亲，邮箱不能为空哦~");
            return;
        }
        if(captcha == "")
        {
            alert("亲亲，验证码不能为空哦~");
            return;
        }
        $.ajax({
            url:"captcha_check",
            data:{
                "email":email,
                "captcha":captcha
            },
            type:"POST",
            success:function(res) {
                if(res.code == 1)
                {
                    $("#captcha_check").css("display","none");
                    $("#new_password").attr("style","");
                }
                else
                {
                    alert(res.msg);
                }
            }
        })
    })

    $("#confirm").click(function(){
        var email = $("#email").val();
        var password = $("#password").val();
        var repassword = $("#repassword").val();
        if(email == "")
        {
            alert("亲亲，邮箱不能为空哦~");
            return;
        }
        if(password == "")
        {
            alert("亲亲，密码不能为空哦~");
            return;
        }
        if(repassword == "")
        {
            alert("亲亲，重复密码不能为空哦~");
            return;
        }
        if(password != repassword)
        {
            alert("亲亲，两次密码不一样哦~");
            return;
        }

        $.ajax({
            url:"change_password",
            data:{
                "email":email,
                "password":password,
                "repassword":repassword
            },
            type:"POST",
            success:function(res) {
                if(res.code == 1)
                {
                    alert(res.msg);
                    location.href="login";
                }
                else
                {
                    alert(res.msg);
                }
            }
        })
    })
})
</script>
</html>