<!DOCTYPE html>
<html lang="en">
<head>
<title>西红柿数据-后台管理员</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/fullcalendar.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="css/jquery.gritter.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
 {include file="common/topheader" /}

 {include file="common/sidebar" /}
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
  </div>
<!--End-breadcrumbs-->

        <div class="span6">
                <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                          <h5>质检任务</h5> <a href="admin_guild_detail?guild_id={$guild_id}" class="btn btn-warning btn-mini" style="float: right;margin:5px 20px">返回</a>
                        </div>
                        <div class="widget-content nopadding">
                          <table class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>用户名</th>
                                <th>姓名</th>
                                <th>领取数量</th>
                                <th>操作</th>
                              </tr>
                            </thead>
                            <tbody>
                        {foreach name="guild_member" item="item"}
                        <?php
                        $i = 0;
                        ?>
                        {foreach name="get_task_user_all" item="item_r"}
                        {if $item_r.user_id == $item.user_id}
                        <?php
                        $i = 1;
                        break;
                        ?>
                        {/if}
                        {/foreach}
                
                        {if $i == 1}
                        <tr class="odd gradeX">
                          <td>{$item.user_name}</td>
                          <td>{$item.name}</td>
                          <td>1</td>
                          <td><a target="_blank" href="check3?user_id_check={$item.user_id}&task_id={$task_id}" class="btn btn-primary btn-mini">质检</a></td>
                          {/if}
                            
                        {/foreach}
                    
                      </tr>
                    </tbody>
                  </table>
                
                        </div>
                      </div>
 
        </div>
        
      </div>
      
    </div>
  </div>
</div>
{include file="common/footer" /}
<script src="js/excanvas.min.js"></script> 
<script src="js/jquery.min.js"></script> 
<script>
$(function(){
    $("#admin_task").attr("class","active");



})
</script>
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flot.min.js"></script> 
<script src="js/jquery.flot.resize.min.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/fullcalendar.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.dashboard.js"></script> 
<script src="js/jquery.gritter.min.js"></script> 
<script src="js/matrix.interface.js"></script> 
<script src="js/matrix.chat.js"></script> 
<script src="js/jquery.validate.js"></script> 
<script src="js/matrix.form_validation.js"></script> 
<script src="js/jquery.wizard.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.popover.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.tables.js"></script> 

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>
